<a href="https://colab.research.google.com/github/Yoon2596/kita_2404/blob/main/%EA%B3%BC%EC%A0%9C_0508.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.

#Q 영어이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
# 단 중간에 한칸씩 띄어주어야함 ex)hong gil dong -> Hong Gil Dong
wiyname = input('이름을 영어로 입력하세요 : ')
# txt = wiyname.title()
# print(f'당신의 이름은 {txt}입니다')
cap_name = []
for i in wiyname.split():
    # print(i)
    cap_name.append(i.capitalize())
name = ' '.join(cap_name)
print(f'당신의 이름은 {name}입니다')

이름을 영어로 입력하세요 : hong gil dong
당신의 이름은 Hong Gil Dong입니다

In [8]:
# Task2_0507. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

# a::b::c

list1 = ['a','b','c']
result = '::'.join(list1)
print(result)

a::b::c

In [40]:
# Task3_0508. 다음을 수행하세요.
# - 사용자로부터 문자열을 입력받습니다.
# - 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
# - 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
# - 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
# - 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

while True:
    num = input('숫자를 입력해주세요 : ')
    # num = '12341234'
    if num.isdigit() == True:
        f_num = int(num) + 100
        print(f_num)
        break
    else:
        print('숫자만 입력해주세요')

숫자를 입력해주세요 : asdrf3
숫자만 입력해주세요
숫자를 입력해주세요 : 324da
숫자만 입력해주세요
숫자를 입력해주세요 : 245
345

In [38]:
# Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
# 사용자로부터 문자열을 입력받습니다.
# 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
# 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
# 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력합니다.
# 계속 수행이 완료 될 때까지 반복

while True:
    id = input('알파벳과 숫자로 된 아이디를 입력해주세요 : ')
    # id = 'reqr1243'
    if id.isalnum() == True:
        print(f'아이디 ({id})는 유효한 아이디입니다')
        break
    else:
        print('아이디는 알파벳과 숫자만 포함할 수 있습니다')

알파벳과 숫자로 된 아이디를 입력해주세요 : 132!d
아이디는 알파벳과 숫자만 포함할 수 있습니다
알파벳과 숫자로 된 아이디를 입력해주세요 : df32;
아이디는 알파벳과 숫자만 포함할 수 있습니다
알파벳과 숫자로 된 아이디를 입력해주세요 : qwr0
아이디 (qwr0)는 유효한 아이디입니다

In [33]:
# Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.
list1 = []
for i in range(0,20,2):
    list1.append(i*i)
print(list1)

print('')

print([i*i for i in range(0, 20, 2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [5]:
# Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.
import time
from datetime import datetime

# t = time.time()
# print(t, type(t))

def convert_timestamp(unix):
    d = datetime.fromtimestamp(unix)
    # print(d, type(d))
    # user_t = d.strftime('%Y-%m-%d %H:%M:%S')
    return print(d, type(d))

convert_timestamp(193052345)

1976-02-13 09:39:05 <class 'datetime.datetime'>

In [56]:
# Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.
import time
import datetime

def today_datetimeToStr():
    today = datetime.datetime.now()
    str_t = today.strftime('%Y-%m-%d %H:%M:%S')
    return print(str_t, type(str_t))

today_datetimeToStr()

2024-05-08 07:39:49 <class 'str'>

In [2]:
# Task8_0508. 올해 경과된 날짜수 계산하세요.
import time
# from datetime import datetime

t = time.time()
print(time.localtime(t))
j = time.strftime('%j', time.localtime(t))
print(f'{j}일 경과')

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=8, tm_min=16, tm_sec=21, tm_wday=2, tm_yday=129, tm_isdst=0)
129일 경과

In [14]:
# Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.
import time
from datetime import datetime

days = {'Mon':'월요일', 'Wed':'수요일'}

# timestamp -> datetime -> str
t = time.time()
# print(t, type(t))
d = datetime.fromtimestamp(t)
# print(d, type(d))
d = datetime.strftime(d, '%Y-%m-%d 오늘은 %A 입니다')

print(d)

2024-05-08 오늘은 Wednesday 입니다

In [1]:
# Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

import time
import datetime

total = 0
t1 = time.time()

print(t1, type(t1))

for i in range(1, 1000000):
    total += i

t2 = time.time()
print(t2, type(t2))

result_t = t2 - t1
print(f'{round(result_t*1000, 2)} m/s')

1715156152.6582842 <class 'float'>
1715156152.9060178 <class 'float'>
247.73 m/s