<a href="https://colab.research.google.com/github/Yoon2596/kita_2404/blob/main/m2_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%EA%B3%BC%EC%A0%9C/%EA%B3%BC%EC%A0%9C_0508.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제1

In [ ]:
# Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.

#Q 영어이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
# 단 중간에 한칸씩 띄어주어야함 ex)hong gil dong -> Hong Gil Dong
wiyname = input('이름을 영어로 입력하세요 : ')
# txt = wiyname.title()
# print(f'당신의 이름은 {txt}입니다')
cap_name = []
for i in wiyname.split():
    # print(i)
    cap_name.append(i.capitalize())
name = ' '.join(cap_name)
print(f'당신의 이름은 {name}입니다')

이름을 영어로 입력하세요 : ryu yoon sun
당신의 이름은 Ryu Yoon Sun입니다

In [ ]:
# 학생 풀이 (최환욱)
# Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.
# w/o .title()
# 단 중간에 한깐씩 띄워주어야 함 ex) kim dong wan
# choi hwan wook ====> Choi Hwan Wook


in_name=input("이름을 영문으로 입력해주세요: ").lower()
inname_split=[]; inname_split=in_name.strip().split(" ")
for i in inname_split:
  k=0       #첫번째 인덱스
  for j in i:
    if k == 0:
      print(j.upper(),end="")
    else: print(j,end="")
    k += 1
  print(" ",end="")

이름을 영문으로 입력해주세요: hong gil dong
Hong Gil Dong

In [ ]:
# 강사님 버전
a = input("이름을 영어로 입력하세요.")

b=a.strip().split(" ")
e =""

for i in range(len(b)):
    c = list(b[i])

    c[0] = c[0].upper()
    d = "".join(c)
    c = []
    e = e + d + " "
print(f"당신의 이름을 바꾸면 {e}입니다.")

문제 2

In [ ]:
# Task2_0507. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

# a::b::c

list1 = ['a','b','c']
result = '::'.join(list1)
print(result)

a::b::c

In [ ]:
# 학생 풀이 (김도원)
list1=['a','b','c']
a='::'
list2=a.join(list1)
print(list2)

a::b::c

In [ ]:
# 강사님 버전
li = ['a','b','c']
'::'.join(li)

'a::b::c'

문제 3

In [ ]:
# Task3_0508. 다음을 수행하세요.
# - 사용자로부터 문자열을 입력받습니다.
# - 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
# - 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
# - 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
# - 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

while True:
    num = input('숫자를 입력해주세요 : ')
    # num = '12341234'
    if num.isdigit() == True:
        f_num = int(num) + 100
        print(f_num)
        break
    else:
        print('숫자만 입력해주세요')

숫자를 입력해주세요 : asdrf3
숫자만 입력해주세요
숫자를 입력해주세요 : 324da
숫자만 입력해주세요
숫자를 입력해주세요 : 245
345

In [ ]:
# 학생풀이 (이현석)     #try and except는 필요 없음
while True:
  try:
    a = input("문자열을 입력하세요. : ")
    a1 = a.isdigit()
    if a1 == True:
        print(f"{int(a)+100}")
        break
    else :
        print("숫자만 입력해주세요.")
  except :
        print("")

문자열을 입력하세요. : 213ㅁㅇ
숫자만 입력해주세요.
문자열을 입력하세요. : adsf32
숫자만 입력해주세요.
문자열을 입력하세요. : 3234,s
숫자만 입력해주세요.
문자열을 입력하세요. : 324.asdf
숫자만 입력해주세요.
문자열을 입력하세요. : 2156
2256

In [ ]:
# 다른 학생 풀이 (윤호준)
while True:
    txt = input("숫자로 이루어진 문자열을 입력해 주세요: ")
    if txt.isdigit() == True:
        i = int(txt) + 100
        print(i)
        break
    else:
        print("숫자만 입력해 주세요.")

숫자로 이루어진 문자열을 입력해 주세요: ㅁㄴ3
숫자만 입력해 주세요.
숫자로 이루어진 문자열을 입력해 주세요: dds
숫자만 입력해 주세요.
숫자로 이루어진 문자열을 입력해 주세요: 324
424

In [ ]:
# 강사님 버전
while 1:
  num = input('숫자를 입력하세요.')
  if num.isdigit():
      print(int(num)+100)
      break
  else:
      print('숫자만 입력하세요.')

문제 4

In [ ]:
# Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
# 사용자로부터 문자열을 입력받습니다.
# 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
# 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
# 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력합니다.
# 계속 수행이 완료 될 때까지 반복

while True:
    id = input('알파벳과 숫자로 된 아이디를 입력해주세요 : ')
    # id = 'reqr1243'
    if id.isalnum() == True:
        print(f'아이디 ({id})는 유효한 아이디입니다')
        break
    else:
        print('아이디는 알파벳과 숫자만 포함할 수 있습니다')

알파벳과 숫자로 된 아이디를 입력해주세요 : 132!d
아이디는 알파벳과 숫자만 포함할 수 있습니다
알파벳과 숫자로 된 아이디를 입력해주세요 : df32;
아이디는 알파벳과 숫자만 포함할 수 있습니다
알파벳과 숫자로 된 아이디를 입력해주세요 : qwr0
아이디 (qwr0)는 유효한 아이디입니다

In [ ]:
# 학생 문제 풀이 (이범석)
txt = input("문자열 입력 >> ")

ret = txt.isalnum()

if ret == True:
  print("유효한 아이디입니다 ")
else:
  print("아이디는 알파벳과 숫자만 포함할 수 있습니다")

In [ ]:
# 강사님 버전
while 1:
    id = input("문자열 입력 >> ")
    if id.isalnum():
        print('유효한 아이디입니다')
        break
    else:
        print("아이디는 알파벳과 숫자만 포함할 수 있습니다")

문자열 입력 >> adsf
유효한 아이디입니다

문제 5

In [ ]:
# Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.
list1 = []
for i in range(0,20,2):
    list1.append(i*i)
print(list1)

print('')

print([i*i for i in range(0, 20, 2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
# 학생 문제 풀이 (이도현)
print([i * i for i in range(0, 20, 2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
# 강사님 버전
print(list(map(lambda x: x*x, range(0,20,2))))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

문제 6

In [ ]:
# Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.
import time
from datetime import datetime

# t = time.time()
# print(t, type(t))

def convert_timestamp(unix):
    d = datetime.fromtimestamp(unix)
    # print(d, type(d))
    # user_t = d.strftime('%Y-%m-%d %H:%M:%S')
    return print(d, type(d))

convert_timestamp(193052345.3425)

1976-02-13 09:39:05.342500 <class 'datetime.datetime'>

In [ ]:
# 학생 풀이 (김도현)
import time
from datetime import datetime
t0 = time.time()
def itr(f):
  di = datetime.fromtimestamp(t0)     #t0 -> f로 변경해야됨
  return di
print(itr(1715149395.634805))

2024-05-08 06:23:15.634805

In [ ]:
# 강사님 버전
def timestamp_to_datetime(timestamp):
    return datetime.fromtimestamp(timestamp)

ts = float(input('timestamp를 입력하세요 :'))
dt = timestamp_to_datetime(ts)
print(dt)

timestamp를 입력하세요 :12345632
1970-05-23 21:20:32

문제 7

In [ ]:
# Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.
import time
import datetime

def today_datetimeToStr():
    today = datetime.datetime.now()
    str_t = today.strftime('%Y-%m-%d %H:%M:%S')
    return print(str_t, type(str_t))

today_datetimeToStr()

2024-05-08 07:39:49 <class 'str'>

In [ ]:
# 학생 풀이 (서보선)
from datetime import datetime

def str_date (date) :
  return date.strftime('%Y-%m-%d %H:%M:%S')

result = str_date(datetime.now())

print(result , type(result))

2024-05-09 01:15:08 <class 'str'>

In [ ]:
# 강사님 버전
import datetime
def datetime_to_string(dt):
    return dt.strftime('%Y-%m-%d %H:%M:%S')

dt = input('datetime을 입력하세요> ')
dt = datetime.datetime.strptime(dt, '%Y-%m-%d %H:%M:%S')
s = datetime_to_string(dt)
print(s)

datetime을 입력하세요> 2024-05-08 06:44:03
2024-05-08 06:44:03

In [ ]:
# Task7번 타임존을 한국 기준으로 바꾸어 출력되게 하는 코드 아래와 같습니다.
from datetime import datetime
import pytz

# def str_date (date) :
#   return date.strftime('%Y-%m-%d %H:%M:%S')

def datetime_to_string(dt):
    soeul_timezone = pytz.timezone('Asia/Seoul')
    dt_korea = dt.astimezone(soeul_timezone)
    return dt_korea.strftime('%Y-%m-%d %H:%M:%S')

# result = str_date(datetime.now())
result = datetime_to_string(datetime.now())
print(result , type(result))

2024-05-09 14:02:28 <class 'str'>

문제 8

In [ ]:
# Task8_0508. 올해 경과된 날짜수 계산하세요.
import time
# from datetime import datetime

t = time.time()
print(time.localtime(t))
j = time.strftime('%j', time.localtime(t))
print(f'{j}일 경과')

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=8, tm_min=16, tm_sec=21, tm_wday=2, tm_yday=129, tm_isdst=0)
129일 경과

In [ ]:
# 강사님 버전
import datetime

current_date = datetime.date.today()

start_of_year = datetime.date(current_date.year, 1, 1)

days_passed = (current_date - start_of_year).days

print(f'올해 경과된 날짜 수: {days_passed}일')

올해 경과된 날짜 수: 129일

In [ ]:
#

문제 9

In [ ]:
# Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.
import time
from datetime import datetime

wdays = {'Mon':'월요일', 'Tue':'화요일', 'Wed':'수요일', 'Thu':'목요일', 'Fri':'금요일', 'Sat':'토요일', 'Sun': '일요일'}

# timestamp -> datetime -> str
t = time.time()
# print(t, type(t))
d = datetime.fromtimestamp(t)
# print(d, type(d))
d = datetime.strftime(d, '%Y-%m-%d %A')
date, days = d.split()
# print(days[:3])
print(f'{date} 오늘은 {wdays[days[:3]]}입니다')

2024-05-09 오늘은 목요일입니다

In [ ]:
# 학생 풀이(황강민)
import datetime

today = datetime.date.today()
print(today)

result = today.strftime("%Y-%m-%d 오늘은 %A 입니다")
print(result)

2024-05-09
2024-05-09 오늘은 Thursday 입니다

In [ ]:
# 학생풀이 (김한결)
import time
from datetime import datetime

wdays = {'Mon':'월요일', 'Tue':'화요일', 'Wed':'수요일', 'Thu':'목요일', 'Fri':'금요일', 'Sat':'토요일', 'Sun': '일요일'}

now  = datetime.now()
date = now.date()
wday = now.strftime("%a")


print(f'{date} 오늘은 {wdays[wday]}입니다.')        # 딕셔너리 value는 wday(key값)

Thu
2024-05-09 오늘은 목요일입니다.

In [ ]:
# 강사님 버전
import time

weekdays = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
t = time.localtime()
today = f'{t.tm_year}-{t.tm_mon}-{t.tm_mday}'
print(t.tm_wday)        # 인덱스로 오늘 날짜 반환
week = weekdays[t.tm_wday]
# print('%s 오늘은 %s입니다' %(today, week))
print(f'{today} 오늘은 {week}입니다.')

3
2024-5-9 오늘은 목요일입니다.

문제 10

In [ ]:
# Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

import time
import datetime

total = 0
t1 = time.time()

print(t1, type(t1))

for i in range(1, 1000001):
    total += i

t2 = time.time()
print(t2, type(t2))

result_t = t2 - t1
print(total)
print(f'{round(result_t*1000, 2)} m/s')

1715218967.634647 <class 'float'>
1715218967.781042 <class 'float'>
500000500000
146.4 m/s

In [ ]:
# 학생 풀이 (김한결)
import time

start = time.time()
sn = sum(range(1, 1000001))
end = time.time()
print(f"1에서 백만까지 더하는데 걸린 시간 : {(end - start):.3f}초")

minute, second = divmod((end-start), 60)
h, m = divmod(minute, 60)
print(f'{int(h)}시간 {int(minute)}분 {second:.3f}초')

1에서 백만까지 더하는데 걸린 시간 : 0.021초
0시간 0분 0.021초

In [ ]:
# 강사님 버전
import time

t1 = time.time()
t2 = 0
result = 0

for i in range(1000000):
    result += i+1
else:
    t2 = time.time()

print(f'백만까지 더한 값: {result}\n걸린 시간: {round((t2-t1)*1000)} (ms)')

백만까지 더한 값: 500000500000
걸린 시간: 180 (ms)

In [ ]:
import time
from datetime import datetime

t1 = time.time()
print(t1, type(t1))
t2 = datetime.now()
print(t2, type(t2))
d = datetime.now().timetuple()
print(d, type(d))
s = time.mktime(d)
print(s, type(s))
t3 = time.time()
print(t3, type(t3))

1715157483.4331875 <class 'float'>
2024-05-08 08:38:03.433920 <class 'datetime.datetime'>
time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=8, tm_min=38, tm_sec=3, tm_wday=2, tm_yday=129, tm_isdst=-1) <class 'time.struct_time'>
1715157483.0 <class 'float'>
1715157483.4344962 <class 'float'>