#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

In [ ]:
# ! 기호는 Colab 셀에서 Unix/Linux 셀 명령어를 실행
!python --version

Python 3.10.12

In [ ]:
# % 기호는 !python 환셩(즉, Colab이 포함된 Jupyter 환경)에서 제공하는 매직 명령어를 사용
# 라인 매적은 단일 라인에 대해 실행되며 % 하나를 사용하고 셀 매직은 셀 전체에 적용되며 %%을 사용
# 현재 작업폴더 확인
%pwd

'/content'

In [ ]:
%%time
# 간단한 for 루프를 사용한 계산
sum = 0
for i in range(10000):
    sum += i
print(sum)

49995000
CPU times: user 5.1 ms, sys: 21 µs, total: 5.12 ms
Wall time: 7.29 ms

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

In [ ]:
# 변수 식별자
count = 10
user_name = 'Alice'
_is_valid =True

# 함수 식별자
def calculate_area(radius):
    return 3.14159 * radius * radius

# 클래스 식별자
class Car:
    def __init__(self, model, year):
        self.model = model
        self.year = year

# 모듈 식별자
import math as m

####식별자 기본규칙

- 키워드를 사용하면 안된다
- 특수문자는 언더 바(_)만 사용
- 숫자로 시작하면 안된다
- 공백을 포함할 수 없다

In [ ]:
import keyword
print(keyword.kwlist, end='\n')
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [5]:
from re import A
# alpha         #O
# break         #X 키워드    SyntaxError
# alpha10       #O
# _alpha        #O
# 273alpha      #X 숫자 SyntaxError
# AlpHa         #O
# ALPHA         #O
# has space     #X 공백 SyntaxError

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요.

In [ ]:
import keyword




# def identifyKey(strings):

#     count = 0
#     # 키워드 사용 안됨
#     for i in range(len(strings)):
#         print(i)
#         # print(strings[i][0])

#         # # 넣은 변수와 키워드 비교 후 없으면 리턴
#         # if i not in keyword.kwlist:
#         #     print(i)
#         # # 있으면

#         #     break
#         #     print('Not Available')

#     # 첫 인덱스에 숫자나 공백 사용 불가)
#         #첫 인덱스가 0부터 9인 숫자인 경우 제거
#         for j in range(10):
#             if strings[i][0] == str(j):
#                 # print(strings[i][0])
#                 i -= 1
#                 # 해당 인덱스 제거
#                 strings.pop(i)


#         # print('ok')
#     # 언더바 외 특수문자와 공백 사용 불가
#         # for k in strings:
#         #     print(strings[i][k])
#         #     count += 1
#             # print(k[i])
#             # print(strings[k])
#             # 각 리스트의 인덱스에 특수문자와 공백 있을 시 제거
#             # if k[i] == '!':
#             # i[j] == '@'or i[j] == '#'or i[j] == '$'or i[j] == '%'or i[j] == '^'or i[j] == '&'or i[j] == '*'or i[j] == ' ':
#                 # strings.pop(k)


#     # 결과 값 리턴
#     return strings



def identifyKey(strings):

    index1 = []
    # 키워드 사용 안됨
    for i in strings:

        # 넣은 변수와 키워드 비교 후 있으면 해당 인덱스 저장
        if i in keyword.kwlist:
            index1.append(strings.index(i))


    # 첫 인덱스에 숫자나 공백 사용 불가)
        #첫 인덱스가 0부터 9인 숫자인 경우 제거
        for j in range(10):
            if i[0] == str(j):
                # print(i)
                # print(strings.index(i))
                # 해당 인덱스 다른 리스트에 저장 (여기서 제거하니 인덱스가 밀림)
                index1.append(strings.index(i))
                # 해당 인덱스 제거
                # strings.pop(strings.index(i))


        # print('ok')
    # 언더바 외 특수문자와 공백 사용 불가
        for k in range(len(i)):
            # print(i)
            # print(k)
            # 각 리스트의 인덱스를 모두 개별적으로 찾아 특수문자와 공백 있을 시 제거
            if i[k] == '!' or i[k] == '@' or i[k] == '#' or i[k] == '$'or i[k] == '%'or i[k] == '^' or i[k] == '&'or i[k] == '*'or i[k] == ' ':

                # print(i)
                # print(strings.index(i))
                # 해당 인덱스 다른 리스트에 저장
                # 특수문자가 여러개 있으면 중복 저장 되므로 제거 필요
                index1.append(strings.index(i))

                # 해당 인덱스 제거
                # strings.pop(strings.index(i))

    # 제거할 인덱스 저장값 확인
    print(index1)
    # 인덱스 중복 제거
    index2 = set(index1)
    print(index2, type(index2))
    # 다시 인덱스 리스트로 변환
    index3 = list(index2)
    print(index3, type(index3))

    # 역순으로 인덱스 저장 (pop은 바로 제거되어서 인덱스 위치 변경됨)
    index4 = sorted(index3, reverse=True)
    print(index4)

    # 내림차순으로 변경 된 인덱스 위치의 리스트 제거
    for z in index4:
        print(z, type(z))
        strings.pop(z)


    # 결과 값 리턴
    return strings



identifiers = ['var1', '2things', 'break', 'variable_name', 'time!', '3as d', '145asf', 'True', 'nice', 'd#!fas', 'Camel', '3a#11']
# identifiers = ['var1', '2things', 'variable_name', 'time!']


# 예시
print(identifyKey(identifiers))

[1, 2, 4, 5, 5, 6, 7, 9, 9, 11, 11]
{1, 2, 4, 5, 6, 7, 9, 11} <class 'set'>
[1, 2, 4, 5, 6, 7, 9, 11] <class 'list'>
[11, 9, 7, 6, 5, 4, 2, 1]
11 <class 'int'>
9 <class 'int'>
7 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
2 <class 'int'>
1 <class 'int'>
['var1', 'variable_name', 'nice', 'Camel']

In [ ]:
import keyword
#  isidentifier()는 파이썬의 문자열 매서드로, 주어진 무자열이 유효한 식별자인지를 확인
#  isidentifier()는 예역어인지는 따로 체크하지 않음


def valid_identifiers(identifiers):

    valid = []
    for identifier in identifiers:
        # 2개를 모두 만족해야만 Valid에 넣음
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid.append(identifier)

    return valid


identifier = ['var1', '2things', 'variable_name', 'time!', 'True', '3bear']


print(valid_identifiers(identifier))

['var1', 'variable_name']

In [ ]:
#  제거 되는 시점에서 인덱스가 변경

import keyword
#  isidentifier()는 파이썬의 문자열 매서드로, 주어진 무자열이 유효한 식별자인지를 확인
#  isidentifier()는 예역어인지는 따로 체크하지 않음


def remove_identifiers(identifiers):

    # valid = []
    for i in identifiers:
        # 2개를 모두 만족해야만 Valid에 넣음
        # print(i)
        if i[0].isdigit() or not i.isalnum():
            identifiers.remove(i)
    return identifiers
    # return valid


identifier = ['var1', '2things', 'variable_name', 'time!', 'True', '3bear']


print(remove_identifiers(identifier))

['var1', 'variable_name', 'True']

####파이썬 snake_case와 CarmelCase를 모두 사용

- itemlist : item_list itmeList
- loginstatus : login_status loginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스테이크 케이스(소문자로 시작)뒤에 ()가 있다 <- 함수
- 스테이크 케이스(소문자로 시작)뒤에 ()가 없다 <- 변수

In [ ]:
# 연산자
a = 5
b = 3
c = b % a   #나머지
d = b // a  #몫
e = b / a
print(c)
print(d)
print(e)

3
0
0.6

In [ ]:
a = 3
b = 5

if a > b:
    print(a) #조건이 참일때만 결과나옴
if a == b:
    print(b) #조건이 참일때만 결과나옴

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [ ]:
# 정수형, 실수형
l1 = 3
f1 = 3.5
print(l1)
print(f1)

3
3.5

In [ ]:
# 정수(int)
print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))

1
0
100
3

In [ ]:
# 실수(float)
print(float(True))
print(float(False))
print(float('100'))
print(float(5))
# print(round(float(2), 3))
# print(round(float('161'), 2))

1.0
0.0
100.0
5.0
2.0
161.0

In [ ]:
# 사칙연산 : +, -, /, //, %, **
a = 10
b = 2.3
print(a + b)
print(a - b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b, type(a ** b))
print(round(a ** b, 2), type(a ** b))


a = 10
b = 5
print(a + b)
print(a - b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b, type(a ** b))

12.3
7.7
4.347826086956522
4.0
0.8000000000000007
199.52623149688787 <class 'float'>
199.53 <class 'float'>
15
5
2.0
2
0
100000 <class 'int'>

In [ ]:
# 문자열
string = '문자열'
a = "100"
print(string, a)

문자열 100

In [ ]:
# 숫자형일떄 더해짐
a = 100
b = 50
print(a + b)

# 문자형일때 합쳐짐
a = '100'
b = '50'
print(a + b)

150
10050

In [ ]:
# 문자형을 숫자로 더하고 싶을때
a = int('100')
b = int('50')
print(a + b)

150

In [ ]:
# 사용자 입력
a = input('인사말을 입력하세요,')
print(a)

인사말을 입력하세요,안녕
안녕

In [ ]:
# 2가지 숫자를 입력 받아 더해주는 코딩
# input()함수는 입력받은 데이터를 string으로 처리된다
a = int(input('첫번쨰 숫자 : '))
b = int(input('두번쨰 숫자 : '))
print('결과 : ', a+b)

첫번쨰 숫자 : 5
두번쨰 숫자 : 6
결과 :  11

In [ ]:
# 실수 + 실수 -> 실수
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요
a = int(input('3을 입력하세요 : '))
b = float(input('3.3을 입력하세요 : '))
print('결과 6.3 = ', a+b)

3을 입력하세요 : 3
3.3을 입력하세요 : 3.3
결과 6.3 =  6.3

In [ ]:
# 실수 + 실수 -> 실수
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요
a = float(input('3을 입력하세요 : '))
b = float(input('3.3을 입력하세요 : '))
print('결과 6.3 = ', a+b)

3을 입력하세요 : 3
3.3을 입력하세요 : 3.3
결과 6.3 =  6.3

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력 될 수 있도록 a와 b를 문자열 자료형으로 변환하세요
a = 52
b = 52.273
print(str(a)+str(b))

5252.273

In [ ]:
# 문자열 : "", '', """ """, ''' '''
# p1 = 'python's value is great'    # 어퍼스트로피 s 때문에 인식이 잘못되어서 이때는 ""를 사용
p1 = "python's value is great"
print(p1)

python's value is great

In [ ]:
# 백슬래시 (\)는 문자열 안에서 작은따옴표(')를 문자열의 끝을 의미하지 않는 일반 문자로 포함시키기 위해 사용
# 이 기술을 이스케이프라고 함.
p1 = 'python\'s value is great'    # \'를 사용하면 문제없이 사용 가능

print(p1)

python's value is great

In [ ]:
# \n 행 바꿈, \t 탭
y1 = "Once you study data analysis\nYou need Python"
y2 = "Once you study data analysis\tYou need Python"
print(y1)
print(y2)

Once you study data analysis
You need Python
Once you study data analysis	You need Python

In [ ]:
#''' = """ 그대로 줄바꿈 없이 문자형을 출력해줌

y3 = """
Once you study data analysis
You need Python
"""
print(y3)

y4 = """Once you study data analysis
You need Python"""
print(y4)

Once you study data analysis
You need Python

Once you study data analysis
You need Python

In [ ]:
a1 = 'python'
a2 = 'is easy to study'
print(a1+a2)
print('='*20)


for i in range(4):
    print('||')

pythonis easy to study
====================
||
||
||
||

In [ ]:
# # Q 아래와 같이 출력 할 수 있는 string을 만드세요
# "What a wonderful world"
# he said loudly

string = '''
What a wonderful world
he said loudly'''
print(string)

What a wonderful world
he said loudly

In [ ]:
# Q. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요
num1 = int(input('첫번쨰 숫자를 입력해주세요 : '))
num2 = int(input('두번쨰 숫자를 입력해주세요 : '))

if num1 > num2:
    print(f'큰 수는 {num1} 입니다')
elif num1 < num2:
    print(f'큰 수는 {num2} 입니다')
else:
    print("같은 크기의 숫자 입니다")

첫번쨰 숫자를 입력해주세요 : 5
두번쨰 숫자를 입력해주세요 : 5
같은 크기의 숫자 입니다

#### 자료형 - List
- 리스트는 [ ]로 표시하며 [ ]안의 요소를 콤마로 구분하여 순서있게 나열

In [ ]:

list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']
list3 = ['1', 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
['1', 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [ ]:
# 인덱싱
list1 = [1, 2, 3, 4, 5]
print(list1[2])
print(list1[0:2])
print(list1[0:2], type(list1[0:2]))
print(list1[:4])

3
[1, 2]
[1, 2] <class 'list'>
[1, 2, 3, 4]

In [ ]:
# 예제
list3 = [1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]
print(list3[3][2])
print(list3[4][0], type(list3[4][0]))

3
a <class 'str'>

In [ ]:
# 리스트 수정, 삭제
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [ ]:
# 끝에서 부터 인덱싱 : -1
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
print(a[-2])
print(a[-4:-1])
print(a[-4:])

8
[6, 7, 8]
[6, 7, 8, 9]

In [ ]:
# 리스트 확장
h = [1, 2, 3]
h.extend([4, 5])  # 반복 가능한 객체의 모든 요소를 리스트에 추가
print(h)
h.append(6)     # 단일 객체를 끝에 추가
h.append(8)     # 단일 객체를 끝에 추가
print(h)
h.insert(0, 5)  # 인덱스 0에 객체 5를 추가
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 8]
[5, 1, 2, 3, 4, 5, 6, 8]

In [ ]:
# Q. list1에서 다음을 수행하세요
#1 - 33을 출력
#2 - 82를 리스트에 추가
#3 - 87의 인덱스 구하기 - 도전
#4 - 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
#5 - 39를 11로 변경
#6 - [69,45,58] 출력
#7 - 짝수 인덱스의 값으로 구성된 리스트 출력하기
#8 - 인덱스가 가장 큰수를 삭제하기
#9 - 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print('#1 - 33을 출력')
print(list1[11][1], '\n')
print('#2 - 82를 리스트에 추가')
list1.append(82)
print(list1, '\n')
print('#3 - 87의 인덱스 구하기 - 도전')
print(list1.index(list1[5]))
print(list1.index(87), '\n')
print('#4 - 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전')
# print(list1[3:11])
list2 = list1[3:11]
print(list2)
print(sorted(list2, reverse=True))
list2.sort(reverse=True)
# sort는 원본 list2가 변경되어서 list2로 출력필요
print(list2)
print('\n')
print('#5 - 39를 11로 변경')
list1[8] = 11
# list1.insert(8, 11)
print(list1, '\n')
print('#6 - [69,45,58] 출력')
print(list1[2::-1], '\n')

print('#7 - 짝수 인덱스의 값으로 구성된 리스트 출력하기')

print(list1[0::2], '\n')
print('#8 - 인덱스가 가장 큰수를 삭제하기')
del list1[-1]
print(list1, '\n')
print('#9 - 인덱스 3, 5인 값으로 4칙 연산하기')
index3 = list1[3]
index5 = list1[5]
print(index3 + index5)
print(index3 - index5)
print(index3 * index5)
print(index3 / index5, '\n')

# 짝수 숫자만 출력
# for i in range(len(list1)):
    # print(list1[i])
    # # for j in range(len(list1[0])):
    #     print(list1[i][j])
        # if i % 2 == 0:
            # print(i)

#1 - 33을 출력
33

#2 - 82를 리스트에 추가
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

#3 - 87의 인덱스 구하기 - 도전
5
5

#4 - 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
[19, 4, 87, 29, 13, 39, 15, 54]
[87, 54, 39, 29, 19, 15, 13, 4]
[87, 54, 39, 29, 19, 15, 13, 4]


#5 - 39를 11로 변경
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

#6 - [69,45,58] 출력
[69, 45, 58]

#7 - 짝수 인덱스의 값으로 구성된 리스트 출력하기
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]

#8 - 인덱스가 가장 큰수를 삭제하기
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

#9 - 인덱스 3, 5인 값으로 4칙 연산하기
106
-68
1653
0.21839080459770116

In [ ]:
print(list1, '\n')
# 인덱스 7부터 내림으로 출력
print(list1[7::-1], '\n')
# 인덱스 7부터 2칸씩 띄어 출력
print(list1[7::2], '\n')
# 인덱스 7부터 내림으로 2칸씩 띄어 출력
print(list1[7::-2], '\n')

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

[13, 29, 87, 4, 19, 69, 45, 58]

[13, 15, [8, 33, 11], 49, 98, 82]

[13, 87, 19, 45]

In [ ]:
# list10 = [1, [21, 32], 3 , [11, 12, 13], 7, 9]
list10 = [[1, 2], [6, 7, 8]]
row = len(list10)
col = len(list10[0])

for i in range(row):
    for j in range(len(list10[i])):
        print(list10[i][j])

1
2
6
7
8

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [ ]:
# sort()
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

# sorted()
my_tuple = (3, 1, 2)
new_tuple = sorted(my_tuple)
print(my_tuple)
print(new_tuple)
reverse_tuple = sorted(my_tuple, reverse=True)
print(reverse_tuple)

[1, 2, 3]
(3, 1, 2)
[1, 2, 3]
[3, 2, 1]

In [ ]:
# sort는 원본을 변환하고 반환갑은 출력하지 않아 None로 출력된다
list1 = [4, 6, 8, 9, 3]
new_list1 = list1.sort()
print(new_list1) #반환값 None
print(list1)     #변환 된 원본
print('\n')
# 반면 sorted 원본을 변경해서 변경된 값을 반환한다
list2 = [4, 6, 8, 9, 3]
new_list2 = sorted(list2)
print(new_list2) #변환 된 반환값 출력
print(list2)     #변환 안된 원본

None
[3, 4, 6, 8, 9]


[3, 4, 6, 8, 9]
[4, 6, 8, 9, 3]

In [ ]:
# 메서드 sort()를 쓸 시
list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11]
l_sort = sorted(list2, reverse=True)
print(l_sort)


# 메서드 sorted()를 쓸 시
list3 = list1[3:11]
list3.sort(reverse=True)
print(list3)

[87, 54, 39, 29, 19, 15, 13, 4]
[87, 54, 39, 29, 19, 15, 13, 4]

####자료형 - Tuple
- 튜플은 변경할 수 없는(immutable) 순서가 있는 컬렉션
- 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b','c')
tuple3 = (1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c'])

print(tuple1[:])
print(tuple2[2])
print(tuple3[3][2])

(1, 2, 3, 4, 5)
c
3

In [ ]:
# 리스트인 경우 요소값을 변경 가능함
list1 = [1, 2, 3, 4, 5]
list1[0] = 0
print(list1)

# 튜플인 경우 요소값 변경 불가능 (에러발생 TypeError)
tuple1 = (1, 2, 3, 4, 5)
# tuple1[0] = 0
print(tuple1)

[0, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [ ]:
# 리스트는 단일 요소 출력가능
li = [1]
print(li)

# 튜플은 단일 요소 출력시 뒤에 콤마(,) 필요 / 없으면 정수(int)로 됨
tu1 = (1,)
print(tu1, type(tu1))

tu2 = (1)
print(tu2, type(tu2))

[1]
(1,) <class 'tuple'>
1 <class 'int'>

In [ ]:
# 튜플은 소괄호( )를 생략해도 된다
t2 = 1, 2, 3
print(t2)
type(t2)

(1, 2, 3)

tuple

In [ ]:
# 튜플 연산

t1 = (1,)
#만약 t1이 t1 = (1)이면 TypeError
# t1 = (1) # ==> int
print(type(t1))
t2 = (1, 2, 3)
print(type(t2))

print(t2 * 2)

print(t1 + t2)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)

In [ ]:
#Q red, green, blue 값을 갖는 튜플에서 각 값을 각각 r, g, b 변수에 할당하고 출력하세요

colors = ('red', 'green', 'blue')

r, g, b = colors

print(r)
print(g)
print(b)

red
green
blue

In [ ]:
# 함수에서 여러 값을 반환할 떄 튜플을 사용하는 것이 일반적입니다

#Q 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요

numbers = [10, 20, 30, 40, 50]

def cal_sum_and_average(numbers):

    total = sum(numbers)
    average = total / len(numbers)

    return total, average       # 튜플로 총합과 평균 반환

total, average = cal_sum_and_average(numbers)

print(f'총합은 : {total}, 평균은 : {average}')

총합은 : 150, 평균은 : 30.0

####자료형 - 사전
- 키와 값을 하나의 요소로 하는 순서가 없는 집합

In [ ]:
d1 = {'a':1, 'b':2, 'c':3}

# 인덱스가 없으므로 키값 a 에서 밸류 1을 찾음
print(d1['a'])

# 키값 리스트 표시
print(d1.keys())

# 밸류값 리스트 표시
print(d1.values())

# 튜플 형태의 리스트로 표시
print(d1.items())

# 추가 하는 방법 [키값] = 밸류
d1['d'] = 4
print(d1)

# 수정하는 방법
d1['b'] = 7
print(d1)

# 삭제하는 방법
del d1['b']
print(d1)

1
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
{'a': 1, 'c': 3, 'd': 4}

In [ ]:
#Q 딕셔너리 d에서 'b'의 값을 확인하면서 그 값을 삭제하세요
d = {'a': 1, 'b': 7, 'c': 3, 'd': 4}

# b의 값을 확인
# for i in d.items():
#     print(i)
value = d.pop('b')
print('삭제 값 : ', value)

print(d)

삭제 값 :  7
{'a': 1, 'c': 3, 'd': 4}

In [ ]:
#Q 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다
#[('Tom', 85), ('Jame', 90), ('Bob', 75)]
#이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요

list1 = [('Tom', 85), ('Jame', 90), ('Bob', 75)]

student = {}

for i in list1:
    name, score = i
    # print(name, score)
    student[name] = score
    # print(student)

print(student)
print(student.keys())
print(student.values())


student_dict = dict(list1)
print(student_dict)

{'Tom': 85, 'Jame': 90, 'Bob': 75}
dict_keys(['Tom', 'Jame', 'Bob'])
dict_values([85, 90, 75])
{'Tom': 85, 'Jame': 90, 'Bob': 75}

In [ ]:
#Q 튜플의 불변성 떄문에 튜플을 딕셔너리의 키로 사용 될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요

positions = [(1, 1), (2, 2), (1, 1), (3, 3), (2, 2)]

count_position = {}

# for i in position:
#     # print(i)
#     count = 0
#     if i == temp:
#         # temp.append(i)
#         # print(temp)
#         count += 1
#         re_positon[i] = count

for pos in positions:
    if pos in count_position:
        count_position[pos] += 1
    else:
        count_position[pos] = 1


print(count_position)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}

####자료형 - 집합, set
- 중복을 허용하지 않으며 순서가 없다

In [ ]:
s1 = set([5, 2, 3, 1, 4])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'o', 'e', 'l', 'H'}

In [ ]:
l1 = list(s1)
print(l1)
print(l1[1])

l2 = list(s2)
print(l2)
print(l2[2])

[1, 2, 3, 4, 5]
2
['o', 'e', 'l', 'H']
l

In [ ]:
#Q 주어진 리스트에서 중복 요소를 제거하고 결과를 출력하세요

nums = [1, 2, 2, 3, 4, 4, 4, 5]

# set으로 변환하여 중복값 제거
s1 = set(nums)
print(s1)
# 다시 리스트로 변환 하여 원상복구
li1 = list(s1)
print(li1)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [ ]:
#Q s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요
s1 = [1, 2, 3, 4, 5, 6]
s2 = [4, 5, 6, 7, 8, 9]


union = set(s1) | set(s2)    # | 는 or 합집합
print(list(union))
inter = set(s1) & set(s2)    # & 는 2개 다 만족해야하니 and 교집합
print(list(inter))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [ ]:
#Q 첫번째 집합에서 두 번쨰 집합의 요소를 제외한 차집합을 구하고 출력하세요

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

difference = set1 - set2
print(difference)

print(set1.difference(set2))

{1, 2, 3}
{1, 2, 3}

####자료형 - 논리(Bool) True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [ ]:
#자료형 - 논리(Bool)
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

False
False
False
True
True

아스키 코드
- ASCII의 10진법 값에서 'a'는 97이고 'p'는 112입니다
- 첫 알파벳 'a'는 'p'보다 작으므로 str1 < str2에서 True를 반환합니다

In [ ]:
#관계 연산자
x = 1; y = 2
str1 = 'abc' ; str2 = 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)

False
True
False
True
True

In [ ]:
# 논리 연산자
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)

False
True
False
True

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
li = ['a', 'b', 'c']
if 'a' in li:
    print('a가 li에 있습니다')
else:
    print('a가 li에 없습니다')

a가 li에 있습니다

####사용자 함수

In [ ]:
numbers = [1, 2, 3]
sum(numbers)    #파이썬 내장함수

# 사용자 함수
def add(a, b, c):
    return a + b + c

add(1, 2, 3)

6

In [ ]:
# 곱셈
def mul(a, b, c):
    return a * b * c

print(mul(2, 3, 4))

# 뺄셈
def subtract(a, b, c):
    return a - b - c

print(subtract(5, 2, 1))

# 나눗셈
def division(a, b, c):
    if b == 0 or c == 0:
        return "Error : Division by zero"
    return a / b / c

print(round(division(10, 2, 5), 2))  #반올림

24
2
1.0

####클래스

In [ ]:
class AddMul:
    def add(self, n1, n2):
        return n1 + n2
    def mul(self, n1, n2):
        return n1 * n2

obj1 = AddMul()
print(obj1.add(1, 1))
obj2 = AddMul()
print(obj1.mul(3, 2))

2
6