<a href="https://colab.research.google.com/github/Yoon2596/kita_2404/blob/main/m2_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/2_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 조건문 : if, if ~ elif ~ else
- 이중 조건문
- 반복문 : for, while
- 제어문 키워드 : break, continue
- 조건 반복 결합
- random 모듈 : random, randint, randrange, choice, shuffle, sample, uniform, gauss
- 프로그래밍

제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10
if x > 5:
    print('x는 5보다 큽니다')
elif x == 5:
    print('x는 5입니다')
else:
    print('x는 5보다 작습니다')

if x >+ 5:
    print('x는 5보다 크거나 작습니다')
else:
    print('x는 5보다 작습니다')

x는 5보다 큽니다
x는 5보다 크거나 작습니다

In [ ]:
# 각 조건이 서로 독립적일때 if문을 연속해서 사용

x = 10
y = 5

if x > 5:
    print("x는 5보다 큽니다")
if y < 10:
    print("y는 10보다 작습니다")
if x > y:
    print('x는 y보다 큽니다')

x는 5보다 큽니다
y는 10보다 작습니다
x는 y보다 큽니다

In [ ]:
x = 10
y = 5

if x > 5:
    if y >= 3:
        print("x는 5보다 크고 y는 3보다 크거나 같습니다")
    else:
        print("x는 5보다 크고 y는 3보다 작습니다")
else:
    print('x는 5보다 작거나 같습니다')

In [ ]:
#Q 이중 조건문을 사용하여 코드를 작성하세요 (조건 내용은 자유, 단 if문, if~elif문~else 복수로 사용)

사람1 = 10
사람2 = 5
사람3 = 3
# print('사람1')

if 사람1 > 사람2:
    print("사람1이 더 빠르다")
    if 사람2 > 사람3:
        print('사람3이 가장 느리다')
    elif 사람2 < 사람3:
        print('사람2가 가장 느리다')
    else:
        print('사람1이 가장 빠르다')


score = int(input("점수를 입력하세요 : "))

if score < 70:
    print('채점을 진행하지 않습니다')
else:
    if score >= 90:
        print('A')
    elif score >= 80:
        print('B')
    else:
        print('C')

사람1이 더 빠르다
사람3이 가장 느리다
점수를 입력하세요 : 74
C

In [ ]:
#Q listdata = ['a', 'b', 'c]에서 조건문을 이용해서 아래와 같이 출력하세요

# a가 listdata에 있습니다
# b가 listdata에 있습니다
# c가 listdata에 있습니다

listdata = ['a', 'b', 'c']

if 'a'in listdata:
    print('a가 listdata에 있습니다')
if 'b'in listdata:
    print('b가 listdata에 있습니다')
if 'c'in listdata:
    print('c가 listdata에 있습니다')

print('\n')

for i in listdata:
    if i in listdata:
        print(f'{i}가 listdata에 있습니다')

a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다


a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
#Q "돈이 있으면 택시를 타고, 돈이 없으면 걸어 간다"를 만족하는 조건문을 작성하세요

mes1 = "수중에 있는 돈 액수를 적어주세요 : "

money = int(input(mes1))

# 수중에 돈이 10000원 이상이면 택시
if money >= 10000:
    print("택시를 탄다")
else:
    print("걸어간다")

# 10000원 이하면 걸어간다

수중에 있는 돈 액수를 적어주세요 : 132412
택시를 탄다

In [ ]:
#Q 조건부 표현식을 한줄의 조건문으로 작성하세요

score = 70


if score >= 60:
    message = 'Success'
else:
    message = "Failure"

print(message)


['sucess' if score >= 60 else 'failure']

Success

['sucess']

In [ ]:
#Q 수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대면 빚이 증가" 프로그램 작성
# 수입 지출 입력

income = int(input("수입 금액을 적어주세요 : "))
spend = int(input("지출 금액을 적어주세요 : "))

if income > spend:
    print(f'{income - spend}만큼 저축 증가')
elif income == spend:
    print('변화 없습니다')
else:
    print(f'{spend - income}만큼 빚 증가')

수입 금액을 적어주세요 : 20000
지출 금액을 적어주세요 : 65000
45000만큼 빚 증가

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀸스(리스트, 튜플, 문자열 등)나 반복 가능한 객체(iterable)으; 요쇼를 순회

for i in range(5):
    print(i, end=' ')

print('\n')

count = 0

while count < 5:
    print(count)
    count += 1

0 1 2 3 4

0
1
2
3
4

In [ ]:
# 리스트를 순회하는 예
for i in [1, 2, 3, 4, 5]:
    print(i, end=' ')

print('\n')

# 문자열을 순회하는 예
for char in 'hello':
    print(char, end=' ')

1 2 3 4 5

h e l l o

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동 안 코드 블록을 반복
# 조건이 거짓(False)가 되면 루프가 종료

count = 0
sum = 0
while count < 5:
    sum += count
    print(sum, end=' ')
    count += 1

0 1 3 6 10

In [ ]:
#Q d에서 반복문을 사용하여 97, 98, 99를 출력하세요
d = {'a' : 97, 'b':98, 'c':99}

for i in d.values():
    print(i, end=' ')
    print(type(i))

print('\n')

for i in d:
    print(d[i], end=' ')
    print(type(d[i]))

97 <class 'int'>
98 <class 'int'>
99 <class 'int'>


97 <class 'int'>
98 <class 'int'>
99 <class 'int'>

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 *뷰 객체*를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i, end=' ')

print('\n')

for i in range(5):
    if i == 3:
        continue
    print(i, end=' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
    if i == 5:
        break       # i가 5일 때 루프를 종료합니다
    print(i, end=' ')

print('\n')

for i in range(10):
    if i % 2 == 0:
        continue    # i가 짝수 일 때 나머지 부분을 건너뛰고 다음 반복을 시작합니다
    print(i, end=' ')

0 1 2 3 4

1 3 5 7 9

In [ ]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료 된 후에 실행된다

for i in range(5):
    print(i, end=' ')
else:
    print('루프가 완료되었습니다', '\n')

count = 0
while count < 5:
    print(count, end=' ')
    count += 1
else:
    print("루프가 완료되었습니다")

0 1 2 3 4 루프가 완료되었습니다

0 1 2 3 4 루프가 완료되었습니다

In [ ]:
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음

for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다')
        break
else:
    print('루프가 정상적으로 완료되었습니다')

3에서 루프를 중단합니다

####조건과 반복을 결합

In [ ]:
# 홀수만 출력
for i in range(10):
    if i % 2 != 0:
        print(i, end=' ')

print('\n')

for i in range(10):
    if i % 2 == 1:
        print(i, end=' ')

1 3 5 7 9

1 3 5 7 9

In [ ]:
#Q 1~10 범위의 정수에서 1부터 5까지만 출력하세요

for i in range(10):
    if i > 4:
        break
    print(i+1, end=' ')

print('\n')

for i in range(1, 10):
    if i > 5:
        break
    print(i, end=' ')

1 2 3 4 5

1 2 3 4 5

In [ ]:
#Q  numbers 리스트에서 15, 20, 25를 출력하세요 (for문, if조건 사용 필수)

numbers = [5, 15, 6, 20, 7, 25]

#1
for i in numbers:
    if i > 10:
        print(i, end=' ')

print('\n')
#2
for i in numbers:
    if (i > 10) and (i % 5 == 0):
        print(i, end=' ')

print('\n')
#3
for i in range(len(numbers)):
    if i % 2 == 1:
        print(numbers[i], end=' ')

15 20 25

15 20 25

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지 반복

count = 0

while 1:
    count += 1
    if count > 5:
        break       # count가 5보다 클 때 루프를 종료합니다
    print(count)
print('루프가 종료됨')

1
2
3
4
5
루프가 종료됨

In [ ]:
#Q 리스트에서 특정값 찾기
numbers = [1, 2, 3, 4, 5]

target = 3

for i in numbers:
    if i == target:
        print(f'타겟 {i}을 찾았습니다')
        break
else:
    print(f'타겟 {i}을 찾지 못했습니다')

타겟 3을 찾았습니다

In [ ]:
#Q 1 ~ 20 사이의 정수에서 10보다 작은 홀수만 출력

for i in range(1, 21):
    if i < 10 and i % 2 == 1:
        print(i, end=' ')

1 3 5 7 9

In [ ]:
# while ~ continue ~ break
# 20 보다 작은 점수에서 1 3 5 7 9 만을 출력

a = 0
while a < 20:
    a += 1
    if a % 2 == 0:
        continue
    if a >= 10:
        break
    print(a, end=' ')

1 3 5 7 9

In [ ]:
#Q 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요 (while ~ break)

num = 1
count = 0
total_num = 0

while 1:

    if total_num > 1000:
        print(count)
        print(total_num)
        break
    total_num += num
    num += 1
    count += 1
    # print(total_num)

45
1035

In [ ]:
# 강사님 버전
x = 1
sum = 0

while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x += 1

45
1035

In [ ]:
# 강사님 버전2 (더욱 심플한 버전)
x = 0
sum = 0
while sum < 1000:
    x += 1
    sum += x
print(x)
print(sum)

45
1035

In [ ]:
#Q while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
num_3 = 1
total_sum = 0

while num_3 < 1001:
    if num_3 % 3 == 0:
        total_sum += num_3
        # print(total_sum)
    num_3 += 1
print(total_sum)

166833

In [ ]:
# 강사님 버전
count = 1
multiple_sum = 0
while count < 1000:
    if count % 3 == 0:
        multiple_sum += count
    count += 1
print(multiple_sum)

166833

In [ ]:
total_num = 0
count = 0
while count < 1000:
    total_num += count
    if count % 3 != 0:
        total_num -= count
    count += 1
print(total_num)

166833

In [ ]:
n = 3
sum = 0
while n < 1000:
    sum += n
    n += 3
print(sum)

166833

In [ ]:
#Q 정수를 입력하면 홀수 짝수를 판별하는 프로그램을 작성

def even_odd(num):
    # num = int(input('정수를 넣어주세요 : '))
    # if str.isdigit(num) == False:
    #     return print('올바른 정수를 넣어주세요')

    if num % 2 == 0:
        return print('이 숫자는 짝수입니다')
    elif num % 2 != 0:
        return print('이 숫자는 홀수입니다')
    else:
        return print('올바른 정수를 넣어주세요')



num = int(input('정수를 넣어주세요 : '))


even_odd(num)

정수를 넣어주세요 : 54
이 숫자는 짝수입니다

In [ ]:
# 강사님 버전

while True:
    try:
        num = int(input('정수를 넣어주세요 : '))

        if num % 2 == 0:
            print('이 숫자는 짝수입니다')
        else:
            print('이 숫자는 홀수입니다')
        break   #정수를 입력 시 while 루프를 탈출
    except ValueError:
        print('올바른 정수를 넣어주세요')

정수를 넣어주세요 : ㅁㄴㄹ이ㅏㅓ
올바른 정수를 넣어주세요
정수를 넣어주세요 : fdsaf
올바른 정수를 넣어주세요
정수를 넣어주세요 : 234,ㅇ
올바른 정수를 넣어주세요
정수를 넣어주세요 : 32
이 숫자는 짝수입니다

In [ ]:
#Q 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요 (ABC -> BCA)

word = input("문자를 입력해주세요 : ")
# word = 'ABC'

for i in range(len(word)):
    if i == 0:
        continue
    print(word[i], end=' ')
else:
    print(word[0])

문자를 입력해주세요 : adc
d c a

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
zipped = zip(list1, list2)
print(zipped)
print(list(zipped))

<zip object at 0x7a6aa6a8be80>
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
#Q 두 개의 리스트(이름과 성)을 사용하여 각 사람의 전체 이름을 생성하세요
first_name = ['John', 'Jane', 'Corey', 'Traivs']
last_name = ['Doe', 'Smith', 'Turner', 'Williams']

# zipped = zip(first_name, last_name)
# print(list(zipped))

# full_names = first + ' ' + last for first, last in list(zipped)
full_names = [first + ' ' + last for first, last in zip(first_name, last_name)]
print(full_names)

['John Doe', 'Jane Smith', 'Corey Turner', 'Traivs Williams']

In [ ]:
#Q 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요
math_scores = [88, 92, 79, 92, 85]
english_scores = [90, 91, 85, 88, 86]

scores = zip(math_scores, english_scores)
# print(list(zipped))

# total_scores = 0
# for math, english in scores:
#     total_scores  math, english
#     avg = total_scores / len(scores)
# print(avg)

average_scores = [(math + english) / 2 for math, english in scores]
print(average_scores)

[89.0, 91.5, 82.0, 90.0, 85.5]

In [ ]:
math_scores = [88, 92, 79, 92, 85]
english_scores = [90, 91, 85, 88, 86]

scores = zip(math_scores, english_scores)
print(list(scores))
bucket = []
total_scores = 0
for math, english in scores:
    total_scores = math + english
    avg = total_scores / 2

    # print(avg)
    bucket.append(avg)

print(bucket)

[(88, 90), (92, 91), (79, 85), (92, 88), (85, 86)]
[]

In [ ]:
#Q 상품의 이름과 가격이 각각 다른 리스트에 저장되어 있을 때, 상품명과 가격을 튜플로 묶어 출력하세요\
product = ['apple', 'banana', 'cherry']
prices = [1.2, 0.5, 2.5]

for product, price in zip(product, prices):
    print(f'Product: {product}. Prices : ${price}')

Product: apple. Prices : $1.2
Product: banana. Prices : $0.5
Product: cherry. Prices : $2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
# random
import random

# 0과 1사이의 난수 생성
print(random.random())

# 1에서 10사이의 정수 반환(10 포함)
print(random.randint(1, 10))

# 리스트에서 무작위로 하나의 원소 선택
items = [1, 2, 3, 4, 5]
print(random.choice(items))

# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)

# 정규분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.9876868500323395
2
3
[4, 1, 3, 2, 5]
-0.14356478895263514

In [ ]:
import random
male = ['철수', '갑돌', '로미오', '이몽룡',  '온돌']
random.shuffle(male)
print(male)

['갑돌', '온돌', '철수', '로미오', '이몽룡']

In [ ]:
from random import shuffle
male = ['철수', '갑돌', '로미오', '이몽룡',  '온돌']
random.shuffle(male)
print(male)

['이몽룡', '철수', '로미오', '온돌', '갑돌']

####표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [ ]:
# Q 로또 번호 6개를 6세트 출력하는 코드를 작성하세요 (숫자 중복 안됨)
import random
import string


lotto = []
# num = []
# check = []
# 숫자는 총 45개 중 6개
for i in range(6):

    num = []    #숫자 6개 담을 빈 그릇
    for j in range(6):
        # 랜덤한 1~45 숫자 만들기
        r = random.randint(1, 45)
        # 중복 체크 후
        while r in num:
            r = random.randint(1, 45)
        # 중복 없으면 빈 리스트에 숫자 넣기
        num.append(r)

    # 정렬된 숫자로 각 세트에 넣기
    lotto.append(sorted(num))
    # print(num)

# print(lotto)
l1, l2, l3, l4, l5, l6 = lotto
print(f'1세트 : {l1}')
print(f'2세트 : {l2}')
print(f'3세트 : {l3}')
print(f'4세트 : {l4}')
print(f'5세트 : {l5}')
print(f'6세트 : {l6}')

1세트 : [3, 10, 11, 23, 33, 38]
2세트 : [7, 8, 15, 17, 21, 32]
3세트 : [2, 3, 9, 13, 16, 33]
4세트 : [2, 18, 33, 35, 39, 45]
5세트 : [16, 24, 30, 32, 42, 45]
6세트 : [3, 20, 22, 27, 39, 44]

In [ ]:
# 강사님 버전 1
import random
r = list(range(1, 46))

for i in range(6):
    lotto = random.sample(r, 6)     #sample 중복 안되게 해줌
    print(sorted(lotto))

[6, 10, 13, 30, 36, 39]
[1, 7, 12, 28, 33, 41]
[2, 7, 22, 28, 33, 40]
[4, 20, 22, 35, 38, 43]
[2, 7, 13, 22, 38, 42]
[5, 10, 20, 31, 36, 44]

In [ ]:
# Q n개의 그룹으로 분류하는 코드를 작성하세요
import random

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

# group = int(input('원하시는 그룹 숫자를 입력하세요 : '))
# group = 10

enter = random.sample(kita, int(len(kita)/group))
# print(enter)

# random.shuffle(kita)
# for i in range(group):
#     r_p = []
#     for j in
#     while
# for idx, g in enumerate(groups):
#     print(f'그룹 {idx + 1} : {g}')

In [ ]:
# 강사님 버전 문제2
import random

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

group = int(input('원하시는 그룹 숫자를 입력하세요 : '))
# group = 10

# enter = random.sample(kita, int(len(kita)/group))
# print(enter)

random.shuffle(kita)
groups = [kita[i::group] for i in range(group)]
# print(groups)
for idx, g in enumerate(groups):
    print(f'그룹 {idx + 1} : {g}')

원하시는 그룹 숫자를 입력하세요 : 5
[['김한결', '김도원', '최환욱', '신현진'], ['이상협', '김성현', '이명신', '이도헌'], ['소지승', '이현석', '김하준', '황강민'], ['박지환', '김홍준', '박윤경', '서보선'], ['김도현', '윤호준', '이범석', '류윤선']]
그룹 1 : ['김한결', '김도원', '최환욱', '신현진']
그룹 2 : ['이상협', '김성현', '이명신', '이도헌']
그룹 3 : ['소지승', '이현석', '김하준', '황강민']
그룹 4 : ['박지환', '김홍준', '박윤경', '서보선']
그룹 5 : ['김도현', '윤호준', '이범석', '류윤선']

In [ ]:
# Q 1부터 100까지의 정수 중 5에서 95까지의 합을 구하세요
total = 0
for i in range(1, 100):
    if 4 < i < 96:          #i >= 5 and i <= 95
        total += i
    # print(total)
print(total)

4550

In [ ]:
# 강사님 버전 문제 3
sum1 = 0
i = 1
while i <= 100:
    if i >= 5 and i <= 95:
        sum1 += i
    i += 1
print(sum1)

4550

In [ ]:
# Q while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요
total = 0
for i in range(1, 1000):
    if i % 3 == 0 and i % 5 == 0:
        total += i
    # print(total)
print(total)

33165

In [ ]:
# 강사님 버전 문제 4
sum1 = 0
i = 1
while i <= 1000:
    if i % 3 == 0 and i % 5 == 0:
        sum1 += i
    i += 1
print(sum1)

33165

In [ ]:
# Q 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요
import datetime
import pytz

tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_time = now.hour
now_time    #현재시간
if now_time >= 12:
    print('오후입니다')
else:
    print('오전입니다')

오후입니다

In [ ]:
# 다양한 오류 입력에 대한 해결 방안 추가 필요
time = input("현재 시간을 입력하세요(ex. 15시 30분, 15시)")

if '시' not in time:   # <= if time[2] != '시':
    print('형식에 맞춰 작성해주세요')
elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0]) < 12:
    print('오전입니다')
elif int(time.split('시')[0]) >= 12 and int(time.split('시')[0]) < 24:
    print('오후입니다')
else:
    print('시간을 다시 입력해주세요')

현재 시간을 입력하세요(ex. 15시 30분, 15시)30시
시간을 다시 입력해주세요

####pop() 함수
- 리스트와 같은 자료 구조에서 주로 사용되는 함수
- 이 함수는 특정 인덱스에 위치한 요소를 리스트에서 제거하고 해당 요소를 반환

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']

#인덱스 2의 요소 (cherry)를 제거하고 반환
removed_fruit = fruits.pop(2)
print(removed_fruit)
print(fruits)

#리스트의 마지막 요소 (date)를 제거하고 반환
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana', 'date']
date
['apple', 'banana']

In [ ]:
# Q 컴퓨터와 가위, 바위, 보 게임을 코딩으로 프로그래밍하세요
import random

p_win = 0
c_win = 0
# p_loss = 0
# c_loss = 0
draw = 0

ways = ['가위', '바위', '보']

# round = int(input('게임 라운드를 지정해주세요 : '))
round = 2

# 컴퓨터 픽
computer = random.choice(ways)
# print(computer)
i = 0
while i < round:

    player = input('가위 바위 보! :')

    if player != computer:
        if player == '가위' and computer == '바위':
            print(computer)
            print('coumputer win')
            c_win += 1
            print(f'score : player : {p_win}, computer : {c_win}, draw : {draw}')
        elif player == '가위' and computer == '보':
            print(computer)
            print('player win')
            p_win += 1
            print(f'score : player : {p_win}, computer : {c_win}, draw : {draw}')
        elif player == '바위' and computer == '보':
            print(computer)
            print('coumputer win')
            c_win += 1
            print(f'score : player : {p_win}, computer : {c_win}, draw : {draw}')
        elif player == '바위' and computer == '가위':
            print(computer)
            print('player win')
            p_win += 1
            print(f'score : player : {p_win}, computer : {c_win}, draw : {draw}')
        elif player == '보' and computer == '가위':
            print(computer)
            print('coumputer win')
            c_win += 1
            print(f'score : player : {p_win}, computer : {c_win}, draw : {draw}')
        elif player == '보' and computer == '바위':
            print(computer)
            print('player win')
            p_win += 1
            print(f'score : player : {p_win}, computer : {c_win}, draw : {draw}')
    else:
        print(computer)
        print('무승부')
        draw += 1
        print(f'score : player : {p_win}, computer : {c_win}, draw : {draw}')
    # print('a')
    i += 1

가위 바위 보! :가위
가위
무승부
score : player : 0, computer : 0, draw : 1
가위 바위 보! :보
가위
coumputer win
score : player : 0, computer : 1, draw : 1

In [ ]:
import random

cpu = ['가위', '바위', '보']

win = [('가위', '바위'),('바위', '보'),('보', '가위')]

while 1:
    cpu_select = random.choice(cpu)
    human = input("무엇을 내시겠습니까? :")
    if cpu_select == human:
        print("비겼습니다.")
    elif (cpu_select, human) in win:
        print("이겼습니다.")
    else:
        print("졌습니다.")

In [ ]:
import random

com_hand = ['가위', '바위', '보']
win_case = {'가위':'바위', '바위':'보', '보':'가위'}
win_number = 0

while True:
    com_select = com_hand[random.randint(0,2)]
    hum_select = input('가위/바위/보 입력')
    print(f'컴퓨터는 {com_select}입니다')
    if win_case[com_select] == hum_select:
        win_number += 1
        print(f'이겼습니다. 현재 {win_number}승 입니다')
    else:
        if com_select == hum_select:
            print('비겼습니다')
        else:
            print('졌습니다')
    if win_number == 2:
        print('3승을 달성하여 게임을 종료합니다')
        break

가위/바위/보 입력가위
컴퓨터는 보입니다
이겼습니다. 현재 1승 입니다
가위/바위/보 입력보
컴퓨터는 가위입니다
졌습니다
가위/바위/보 입력보
컴퓨터는 가위입니다
졌습니다
가위/바위/보 입력바위
컴퓨터는 보입니다
졌습니다
가위/바위/보 입력기으;
컴퓨터는 바위입니다
졌습니다
가위/바위/보 입력가위
컴퓨터는 가위입니다
비겼습니다
가위/바위/보 입력보
컴퓨터는 보입니다
비겼습니다
가위/바위/보 입력보
컴퓨터는 바위입니다
이겼습니다. 현재 2승 입니다

In [ ]:
# 예시
'''
KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 11000원 입니다.
'''
total = 0

mes1 = int(input('비빔밥 메뉴를 선택해 주세요 1, 2, 3 >>> '))

if mes1 == 1:
    total += 12000
    mes2 = input('세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ')
    if mes2 == 'y':
        total += 3000
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)
    else:
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)

elif mes1 == 2:
    total += 8000
    mes2 = input('세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ')
    if mes2 == 'y':
        total += 3000
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)
    else:
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)

elif mes1 == 3:
    total += 10000
    mes2 = input('세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ')
    if mes2 == 'y':
        total += 3000
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)
    else:
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)

비빔밥 메뉴를 선택해 주세요 1, 2, 3 >>> 3
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 13000원 입니다

In [ ]:
# 좀 더 컴팩트한 버전

def set_mes(number, total):
    mes2 = input('세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ')
    if mes2 == 'y':
        total += 3000
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)
    else:
        mes3 = f'총 금액은 {total}원 입니다'
        print(mes3)


total = 0
mes1 = int(input('비빔밥 메뉴를 선택해 주세요 1, 2, 3 >>> '))

if mes1 == 1:
    set_mes(mes1, 12000)
elif mes1 == 2:
    set_mes(mes1, 8000)
elif mes1 == 3:
    set_mes(mes1, 10000)

비빔밥 메뉴를 선택해 주세요 1, 2, 3 >>> 3
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> 2
총 금액은 10000원 입니다

In [ ]:
#강사님 버전

def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")

if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 11000원 입니다.

if name=="main":구문: 스크립트 직접 실행 시 main() 함수 호출, 모듈로 임포트 시 자동 실행 방지

In [ ]:
#강사님 버전 + 계속 주문 추가

def main(person):
    i = 0
    while True:

        print("KITA 식당에 오신 것을 환영합니다")
        print("\n" + "=" * 40)
        print("\n          - 메  뉴 -")
        print("    1. 불고기 비빔밥 : 12,000원")
        print("    2. 야채 비빔밥 : 8,000원")
        print("    3. 전주 비빔밥 : 10,000원")
        print("\n    세트 주문시 : 3,000원 추가")
        print("    (세트는 밥과 반찬이 추가됩니다.)")
        print("\n" + "=" * 40)

        # 사용자로부터 메뉴 선택을 받는다.
        menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

        # 메뉴별 가격을 설정한다.
        prices = {1: 12000, 2: 8000, 3: 10000}

        # 사용자가 선택한 메뉴의 가격을 가져온다.
        total_price = prices.get(menu_choice, 0)

        # 세트 주문 여부를 확인한다.
        set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
        if set_order == 'y':
            total_price += 3000

        print(f"총 금액은 {total_price}원 입니다.")

        print()
        i += 1
        if i == person:
            break

if __name__ == "__main__":
    main(3)

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 15000원 입니다.

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 3
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 13000원 입니다.

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 11000원 입니다.

In [ ]:
#강사님 버전 + 계속 주문 추가

def display_menu():
        print("KITA 식당에 오신 것을 환영합니다")
        print("\n" + "=" * 40)
        print("\n          - 메  뉴 -")
        print("    1. 불고기 비빔밥 : 12,000원")
        print("    2. 야채 비빔밥 : 8,000원")
        print("    3. 전주 비빔밥 : 10,000원")
        print("\n    세트 주문시 : 3,000원 추가")
        print("    (세트는 밥과 반찬이 추가됩니다.)")
        print("\n" + "=" * 40)

def order():
    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000
    print(f"총 금액은 {total_price}원 입니다.")

def main():
    while True:
        display_menu()
        order()

        #계속 주문하거나 종료 여부를 확인한다
        continue_ordering = input('\n다시 주문하시겠습니까? (주문: enter / 종료: exit) >>>')
        if continue_ordering == 'exit':
            break

    print('\n감사합니다! 다음에 또 주문해주세요')


if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> n
총 금액은 8000원 입니다.

다시 주문하시겠습니까? (주문: enter / 종료: exit) >>>exot
KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 3
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> 1
총 금액은 10000원 입니다.

다시 주문하시겠습니까? (주문: enter / 종료: exit) >>>emter
KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 4
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> n
총 금액은 0원 입니다.

다시 주문하시겠습니까? (주문: enter / 종료: exit) >>>exit

감사합니다! 다음에 또 주문해주세요

In [ ]:
# 여러개의 음식을 동시에 주문 할 수 있는 주문 시스템을 작성하세요(구조지향)
# 강사님 버전 + 계속 주문 추가

def display_menu():
        print("KITA 식당에 오신 것을 환영합니다")
        print("\n" + "=" * 40)
        print("\n          - 메  뉴 -")
        print("    1. 불고기 비빔밥 : 12,000원")
        print("    2. 야채 비빔밥 : 8,000원")
        print("    3. 전주 비빔밥 : 10,000원")
        print("\n    세트 주문시 : 3,000원 추가")
        print("    (세트는 밥과 반찬이 추가됩니다.)")
        print("\n" + "=" * 40)




def order():
    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> " ).split()
    print(menu_choice)

    # 메뉴별 가격을 설정한다.
    # prices = {1: 12000, 2: 8000, 3: 10000}
    menu_items = {
    '1':('불고기 비빔밥', 12000),
    '2':('야채 비빔밥', 8000),
    '3':('전주 비빔밥', 10000)
}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    # total_price = prices.get(menu_choice, 0)
    total_price = menu_items(menu_choice)
    print(total_price)


    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000
    print(f"총 금액은 {total_price}원 입니다.")

def main():
    while True:
        display_menu()
        order()

        #계속 주문하거나 종료 여부를 확인한다
        continue_ordering = input('\n다시 주문하시겠습니까? (주문: enter / 종료: exit) >>>')
        if continue_ordering == 'exit':
            break

    print('\n감사합니다! 다음에 또 주문해주세요')


if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1, 3
['1,', '3']

TypeError: unhashable type: 'list'

#if __name__ == "__main__":

- 현재 모듈이 직접 실행되는지 또는 다른 파일에 의해 임포트되어 사용되는지를 판단할 때 사용.
- 만약 모듈이 직접 실행되면 __name__ 변수의 값은 "__main__"이 되고, 모듈이 다른 파일에서 임포트되어 사용될 경우 __name__은 모듈의 이름이 된다.

In [ ]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

mymodule.py  sample_data

In [ ]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
#if __name__ == "__main__": 는 직접 실행할 경우만 True, 모듈 임포트 경우는 False
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()

if __name__=="__main__":
    print("This code runs only when mymodule.py is executed directly.")
    print_hello()
    print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

mymodule.py  sample_data

In [ ]:
!cat mymodule.py

def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()

if __name__=="__main__":
    print("This code runs only when mymodule.py is executed directly.")
    print_hello()
    print_goodbye()