In [ ]:
# Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요.

data = [1, 2, 2, 3, 4, 4, 4, 5]
# data = []

def count_unique_number(datas):
    if not datas:
        return '데이터를 넣어주세요'
    s1 = set(datas)
    # print(s1)
    return len(s1)

print(f'고유한 요소의 개수 : {count_unique_number(data)}')

고유한 요소의 개수 : 5

In [ ]:

# Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

# 예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

# 예시 출력: [4, 5]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]


def return_union(data1, data2):

    # 들어온 리스트 2개중 한 곳에 데이터가 없을 시
    if not data1 and data2:
        return '데이터를 넣어주세요'

    # 두 리스트 모두 세트로 변환
    s1 = set(data1)
    s2 = set(data2)

    # 그 후 공통 된 요소를 교집합으로 확인
    inter = s1 & s2

    # 교집합으로 나온 요소를 다시 리스트로 변환하여 리턴함
    return list(inter)

return_union(list1, list2)

[4, 5]

In [ ]:
# Task3_0426. 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.

numbers = [1, 2, 3, 10, 20]
threshold = 15

def check_overNum(numbers, threshold):

    #각 숫자에 특정 값을 비교하여 크면 참으로 반환
    for i in range(len(numbers)):
        #만약 숫자가 특정값보다 클 시
        if numbers[i] > threshold:
            #불 값 True 반환
            return True
    #없으면 불 값 False로 반환
    return False

check_overNum(numbers, threshold)

True

In [ ]:
# Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.

text = "hello world"
substring = "world"

def check_string(text, substring):

    if substring in text:
        # print(text, substring)
        return True
    else:
        return False

check_string(text, substring)

True

In [ ]:
# Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:
# - 4로 나누어 떨어진다.
# - 100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다.

year = 2020


# True

def isleapYear(years):
    if years % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        return print('윤년입니다', True)
    else:
        return print('평년입니다', False)

isleapYear(year)

윤년입니다 True

In [ ]:
year = 2020
print(year % 100 == True)

print(year % 100 != 0)

False
True

In [ ]:
# Task6_0426. Calculator 클래스를 작성하고 4칙연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요.

class Calculator:
    def add(self, n1, n2):
        return n1 + n2
    def mul(self, n1, n2):
        return n1 * n2
    def sub(self, n1, n2):
        return n1 - n2
    def div(self, n1, n2):
        return n1 / n2

obj1 = Calculator()
print(obj1.add(1, 1))
obj2 = Calculator()
print(obj1.mul(3, 2))
obj3 = Calculator()
print(obj1.sub(12, 15))
obj4 = Calculator()
print(round(obj1.div(215, 64), 2))

2
6
-3
3.36

In [ ]:
# Task7_0426. 다음 과제를 수행하세요.
# - 사용자로 부터 텍스트를 입력 받는다.
# - 문자을 단어 단위로 분리 : split()
# - 단어의 빈도수를 저장할 딕셔너리를 생성
# - 각 단어의 빈도 수를 계산(for 문 / if else문) word = word.lower()
# - 결과 출력

# [ 예시 ]

# 문장을 입력하세요: I love apple. I love orange. Apple is tasty

# {'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

mes1 = input('문장을 입력하세요: ')

# 사용자로부터 받은 문자열을 단어로 분리
div_word = mes1.lower().split()

count_words = {}

for i in div_word:
    if i in count_words:
        count_words[i] += 1
    else:
        count_words[i] = 1


print(count_words)

문장을 입력하세요: I love apple. I love orange. Apple is tasty
{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}