In [ ]:
# Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

max_num = max(numbers)
print('최대값 : ',max_num)
min_num = min(numbers)
print('최소값 : ',min_num)

최대값 :  87
최소값 :  4

In [ ]:
# Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
sum_num = 0
for i in numbers:
    # print(i)
    sum_num += i
    # print(sum_num)

print('합계는 : ',sum_num)
print('평균은 : ',sum_num / len(numbers))

합계는 :  378
평균은 :  37.8

In [ ]:
# Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

# target = 'apple' 특정요소

target = []

for i in range(len(items)):
    # print(items[i], type(items[i]))
    if items[i] == 'apple':
        # print(i)
        target.append(i)

print(target)

[0, 3, 5]

In [66]:
# Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

# 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

list4 = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']

# # set은 중복값을 허용하지 않아 리스트를 set으로 변경
# new_list4 = set(list4)
# print(new_list4)
# # 다시 리스트로 재변경
# back_list4 = list(new_list4)
# print(back_list4)
# # 순서 재배열
# print(sorted(back_list4))

new_list4 = []
overlap = []

for i in list4:
    # 없는 값 새로운 리스트에 넣기
    if i not in new_list4:
        new_list4.append(i)
    else:
    # 중복값 표시
        overlap.append(i)

print(new_list4)
print(overlap)
# print(list4)

['a', 'b', 'c', 'd', 'e']
['a', 'c', 'c', 'e']

In [114]:
# Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

# 예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

list5 = [1, 2, 3, 4, 5]
# list5 = [3, 4, 5]
# list5 = [1, 2, 3, 4, 5, 6, 7, 8]
k = 2

new_list5 = []


# 회전 횟수가 리스트 길이를 넘었을 때
if k > len(list5):
    k = k % len(list5)

for i in list5:
    # 회전 횟수 만큼 i에서 뺀 숫자에서 시작하여 끝 결과를 맞춤
    new_list5.append(i - k)
    print(new_list5)

# 그 후 k만큼 순회한 값을 나머지 값으로 차례대로 변환
for j in range(k):
    # 인덱스가 k = 1  /  k = 2      / k = 3    ... 뒤에서부터 차례대로 불러옴
    # 인덱스가 j = 0  /  j = 0 ~ 1  / j = 0 ~ 2
    new_list5[j] = list5[-k + j]


print(new_list5)

[-1]
[-1, 0]
[-1, 0, 1]
[-1, 0, 1, 2]
[-1, 0, 1, 2, 3]
[4, 5, 1, 2, 3]