In [ ]:
%pwd

'/content'

Q1. 변수 x에 숫자 10을 할당하고, 변수 y에 문자열 "hello"를 할당한 뒤, 두 변수를 출력하세요.

In [ ]:
# 변수 x 할당
x = 10
# 변수 y 할당
y = 'hello'
# 출력
print(x, y)

10 hello

Q2. 숫자가 양수인지 음수인지를 판별하는 조건문을 작성하세요.

In [ ]:
# 사용자 숫자 넣기
num = int(input('숫자를 넣어주세요 :'))
# 숫자 확인
# print(num)
# 양수 판별
if num > 0:
    print('양수입니다')
# 0 일때
elif num == 0:
    print('0 입니다')
# 음수 반별
else:
    print('음수입니다')

숫자를 넣어주세요 :5
양수입니다

Q3. 리스트 [1, 2, 3, 4, 5]의 각 요소를 출력하는 반복문을 작성하세요.

In [ ]:
# 리스트 1 2 3 4 5 제작
li = [1, 2, 3, 4, 5]

# 반복문
for i in li:
    print(i)

1
2
3
4
5

Q4. 두 숫자를 입력받아 더하는 함수 add를 정의하고 호출하세요.

In [ ]:
# add 함수 정의
def add(num1, num2):
    return num1 + num2

# add함수에 숫자를 2개 넣어 출력
print(add(64, 123))

187

Q5. 문자열 "hello"에서 처음 세 문자를 슬라이싱하여 출력하세요.

In [ ]:
# 문자열 hello 제작
string1 = 'hello'

# 슬라이싱[start:end:step]
print(string1[:3])

hel

Q6. 주어진 정수 리스트에서 가장 자주 등장하는 숫자(최빈값)를 찾아 반환하는 함수를 작성하세요. 만약 최빈값이 여러 개라면, 그 중 가장 작은 숫자를 반환하세요.

numbers = [1, 3, 2, 3, 4, 1, 3, 3]

In [ ]:
# numbers = [1, 3, 2, 3, 4, 1, 3, 3]
# lowest = 0
# count = 0

# def mostNum():
#     # 내부 숫자만큼 반복문 돌리기
#     for i in 9:
#         i += 1
#         print(i)


def mostNum(numbers):
    from collections import Counter
    count = Counter(numbers)
    max_freq = max(count.values())
    frequent_num = [num for num, freq in count.items() if freq == max_freq]
    return min(frequent_num)



# # 예제
numbers = [1, 3, 2, 3, 4, 1, 3, 3]
print(mostNum(numbers))

3

Q7. 딕셔너리 person에서 키 "name"의 값을 출력하세요.

In [ ]:
# dic = {'person' : 'name'}

# dic['person']

person = {'name' : 'John', 'age' : '30'}
print(person['name'])

'John'

Q8. 이름과 나이를 입력받아 "Hello, [name]. You are [age] years old." 형식으로 출력하세요.

In [ ]:
# 이름 입력
name = str(input('이름을 입력해주세요 : '))

# 나이 입력
age = int(input('나이를 입력해주세요 : '))

# 출력1
print(f'Hello, {name}. You are {age} years old')

# 출력2
# print('Hello, {}. You are {} years old'.format(name, age))

이름을 입력해주세요 : 윤선
나이를 입력해주세요 : 30
Hello, 윤선. You are 30 years old

Q9. 0부터 9까지 숫자 중에서 홀수만 포함하는 리스트를 리스트 컴프리헨션을 사용하여 생성하세요.

In [ ]:
odds = [x for x in range(10) if x % 2 != 0]
print(odds)

[1, 3, 5, 7, 9]

Q10. 숫자를 0으로 나누려 할 때 발생하는 예외를 처리하는 코드를 작성하세요.

In [ ]:
try:
    result = 10 / 0

except ZeroDivisionError:
    print('0으로 나눌 수 없습니다')

0으로 나눌 수 없습니다